body{
    margin: 0%;
    text-align: center;
    font-family: 'Merriweather', serif;
}
h1{
    color: #66BFBF;
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
}
h2{
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
}
h3{
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
}
.top-container{
    background-color:#E4F9F5 ;
    position: relative;
    padding-top: 100px;
}
.middle-container{
    margin: 100px 0;
}
.bottom-container{
    background-color: #66BFBF;
    padding: 50px 0 20px;
}
.pro{
    text-decoration: underline;
}
.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}
.top-cloud{
    position: absolute;
    right:300px;
    top: 50px;
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}
.profile{
    width: 50%;
    margin: auto;
}
.boy-img{
    width:25%;
}
.mobile-img{
    width: 25%;
    float: left;
    margin-right: 30px;
}
.gym-img{
    width:25%;
    float: right;
    margin-right: 30px;
}
hr{
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width:4%;
    margin: 100px auto;
}
a{
    color: #11999e;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}
a:hover{
    color: #EAF6F6;
}
.contact-message{
    width:40%;
    margin: 40px auto 60px;
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
  }
  
  .btn:hover {
    background: #30e3cd;
    background-image: -webkit-linear-gradient(top, #30e3cd, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cd, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cd, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cd, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cd, #2bc4ad);
    text-decoration: none;
  }
  .copyright{
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
  }